@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

.sidebar {
    list-style: none;
    margin: 0;
    padding: 1em;
    background-color: white;
    border-top: 7px solid black;
    border-radius: 2px;
}

.sidebar-subject {
    color: white;
    background-color: black;
    margin: 8px 0px 8px 0px;
    padding: 2px;
    display: inline;
    border-radius: 1px;
    /* font-family: "Playfair Display"; */
    /* letter-spacing: 1px; */
}

.sidebar-title {
    font-family: "Playfair Display";
    font-size: 24px;
}

.sidebar-datetime {
    font-family: "Playfair Display";
}

/* .sidebar-body {

} */